.container {
  width: 100%;
  max-width: 400px;

  @media (min-width: 768px) {
    padding-top: var(--layout-page-top-padding);
    padding-bottom: var(--layout-page-bottom-padding);
  }

  @media (max-width: 767px) {
    padding-top: var(--layout-page-top-padding-mobile);
    padding-bottom: var(--layout-page-bottom-padding-mobile);
  }
}

.form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
