.container {
  width: 100%;
  max-width: 400px;
  padding-top: var(--layout-page-top-padding);
  padding-bottom: var(--layout-page-bottom-padding);
}

.form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
