.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 var(--space-4);
  height: 50px;
  border-bottom: 1px solid var(--color-gray-200);
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: var(--z-header);
}

.userInfo {
  display: flex;
  align-items: center;
  gap: var(--space-2);
}
